.HomePage{
    padding: 30px;
}

.home-userAndButton{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home-userAndButton > div {
    min-width: 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home-userAndButton > div > div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70px;
}

.home-userAndButton > div > div > h1{
    font-size: 20px;
    color: var(--color1);
    font: normal normal normal 17px/21px Outfit;
    margin: 0;
}

.home-userAndButton > div > div> h2{
    font: normal normal bold 17px/21px Outfit;
    font-size: 20px;
    min-width: 200px;
    color: var(--color1);
    margin: 0;
}




.home-table{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 12px;
    height: 80vh;
    /* flex:1; */
}

.home-table > div > h1{
    font-size: 12px;
    font-weight: 600;
    border: 1px solid var(--color1);
    color:var(--color1);
    border-radius: 50px;
    padding: 5px 20px;
    text-align: center;
    background-color: var(--color2);

    
}

.home-table > div{
    display: flex;
    flex-direction: column;
    flex:1;
}