.NavBar{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    padding: 20px;
}


.NavBar img{
    width: 140px;
}

.NavBar-SearchBar{
    position: absolute;
    top: 0;
    left: 30%;
    right: 0;
    bottom: 0;
}